<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.danmaku.ijk.media.player">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22"
        tools:overrideLibrary="tv.danmaku.ijk.media.exo" />
</manifest>